<template>
  <div class="items">
    <div class="content">
      <Item v-for="(item, index) of items" :key="index" :name="item.name" />
    </div>
    
    <div class="pagination">
      <Link v-for="(item) of links" :key="item" :to="`/items?page=${item}`" :label="`${item}`" />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Link from '@/components/Link.vue'
import Item from '@/components/Item.vue'

const staticResponseObject = {
  1: [
    {
      name: 'ABCDE - 1.1'
    },
    {
      name: 'ABCDE - 1.2'
    },
    {
      name: 'ABCDE - 1.3'
    },
    {
      name: 'ABCDE - 1.4'
    }
  ],
  2: [
    {
      name: 'ABCDE - 2.1'
    },
    {
      name: 'ABCDE - 2.2'
    },
    {
      name: 'ABCDE - 2.3'
    },
    {
      name: 'ABCDE - 2.4'
    }
  ],
  3: [
    {
      name: 'ABCDE - 3.1'
    },
    {
      name: 'ABCDE - 3.2'
    },
    {
      name: 'ABCDE - 3.3'
    },
    {
      name: 'ABCDE - 3.4'
    }
  ],
  4: [
    {
      name: 'ABCDE - 4.1'
    },
    {
      name: 'ABCDE - 4.2'
    },
    {
      name: 'ABCDE - 4.3'
    },
    {
      name: 'ABCDE - 4.4'
    }
  ],
  5: [
    {
      name: 'ABCDE - 5.1'
    },
    {
      name: 'ABCDE - 5.2'
    },
    {
      name: 'ABCDE - 5.3'
    },
    {
      name: 'ABCDE - 5.4'
    }
  ]
}

export default {
  name: 'Items',
  components: {
    Link,
    Item
  },

  data: () => ({
    items: []
  }),

  computed: {
    links: () => {
      return [ ...Array(10) ].map((it, index) => (index + 1)).reverse()
    }
  },

  beforeCreate () {
    const { page } = this.$route.query

    if (!page) {
      this.$router.push('/items?page=1')
    }
  },

  created () {
    const { page } = this.$route.query
    this.getData(page)
  },

  watch: {
    '$route.query.page' (value) {
      this.getData(value)
    }
  },

  methods: {
    async getData (page) {
      this.items = await this.fetchPromise(page)
    },

    fetchPromise (page) {
      return new Promise((next) => {
        next(staticResponseObject[page] || [
          {
            name: 'NO DATA FOUND!!'
          }
        ])
      })
    }
  }
}
</script>
<style scoped>
.pagination {
  display: flex;
  flex-direction: row-reverse;
}

.items {
  margin-top: 5px;
}
</style>
