<template>
  <div class="item">
    <p class="item-name">{{ name }}</p>
  </div>
</template>

<script>
export default {
  name: 'Item',
  props: {
    name: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.item .item-name {
  margin: 0;
  padding: 0;
}

.item {
  border: 1px solid #C2C2C2;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
</style>
