<template>
  <div class="link">
    <router-link :to="to">{{ label }}</router-link>
  </div>
</template>

<script>
export default {
  name: 'Link',
  props: {
    to: String,
    label: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.link {
  width: 40px;
  height: 30px;
  border: 1px solid #C2C2C2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link a.router-link-exact-active {
  color: #42b983;
}
</style>
