<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{ path: 'items', query: { page: 1 } }" exact-path>Items</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #C2C2C2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fafafa;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
